@font-face {
  font-family: "nerd-fonts";
  src: url("../fonts/Symbols-2048-em Nerd Font Complete.ttf")
}
@font-face {
  font-family: "AlegreyaBold";
  src: url("../fonts/AlegreyaSansSC-Bold.ttf")
}
@font-face {
  font-family: "AlegreyaThin";
  src: url("../fonts/AlegreyaSansSC-Thin.ttf")
}
@font-face {
  font-family: "AlegreyaLight";
  src: url("../fonts/AlegreyaSans-Light.ttf")
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
  display: inline-block
}
button {
  width: 120px;
  height: 30px;
  cursor: pointer;
  color: whitesmoke;
  font-weight: bold;
  background: radial-gradient(circle, rgba(211,84,0,1) 0%, rgba(113,36,36,1) 71%);
  border: #ccc groove 3px;
}
body {
  height: 100vh;
  background-color: #f2572c;
  border-image-source: url('../images/candy-corn.jpg');
  border-image-width: 50px;
  border-image-slice: 35 25
}
header {
  background: #282425e6;
  color: whitesmoke;

  padding: 5px 0;
  text-align: center;
}
main {
  position: relative;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  margin: 0 auto;
}
main::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  max-height: 515px; 
  background: url("../images/casper-background.png") space no-repeat bottom 25% right 10%/20%,
              url("../images/haunted-house.png") repeat-x bottom/contain;
  z-index: -1;
}
section#dashboard {
  display: flex;
  justify-content: space-between;
  margin: 12px
}
/* flex items*/
section#dashboard > * {
  flex-basis: 250px;
}
/* label */
#fear-meter-box label {
  display: block;
  text-align: center;
  /* icon width + margin-right */
  padding-left: 60px;
  margin-bottom: 5px;
  font-weight: bold
}
#fear-meter-box #progress-box {
  display: flex;
}
#fear-meter-box i.skull-icon {
  font-family: 'nerd-fonts';
  margin-right: 10px;
  background: black;
  border-radius: 5px;
  padding: 2px 7px 3px 2px;
}
#fear-meter-box i.skull-icon::before {
  content: '\fb8a';
  font-size: 2.5em;
  color: red;
}
/* progress bar */
#custom-progress-bar {
  display: flex;
  width: 100%;
  border: 1px solid whitesmoke;
  background: #702c2c6b
}
#custom-progress-bar span {
  display: inline-block;
  width: 33.33%;
  height: 100%
}
#ghost-counter {
  margin-top: 10px
}
#ghost-counter .ghost-icon {
  font-family: "nerd-fonts";
  margin-right: 10px
}
#friendly-icon::before {
  content: '\f2ac';
  font-size: 24px;
  color: whitesmoke
}
#scary-icon::before {
  content: '\f79f';
  font-size: 24px;
  color: whitesmoke
}
#doors-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  position: relative;
  max-width: 1250px;
  margin: 0 auto;
}
#doors-container .door {
  flex-basis: 214px;
  max-width: 214px;
  position: relative
}
#doors-container img {
  max-height: 180px;
}

img.ghost {
  position: absolute;
  left: 0
}

/* Win and Lose containers */
section#results-container {
  display: none;
  height: 100%;
}

section#results-container.gameover {
  display: block;
  background: #b33939;
}

section#results-container.winner {
  display: block;
  background: #2e86de  
}

#heading-box, #reaper-box {
  height: 50%;
}

#heading-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#heading-box h2 {
  font-family: "AlegreyaBold";
  font-size: 4em;
}

#heading-box h2.gameover {
  color: #ff5252
}

#heading-box h2.winner {
  color: #feca57 
}

#heading-box p {
  font-family: "AlegreyaLight";
  font-size: 1.5em;
  color: #ecf0f1;
  max-width: 675px;
  text-align: center;
}

#reaper-box {
  display: flex;
  justify-content: center;
  background-size: 100% 100%;
}

#reaper-box.gameover {
  background-image: url("../images/pumpkin-overlay.png")
}

#reaper-box.winner {
  background-image: url("../images/beach-overlay.png");
}

#reaper-box img {
  max-width: 527px;
  max-height: 395px;
}

#reaper-box img.winner {
  position: relative;
  top: 24px
}

